{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}}
    Mes Notifications
{% endblock %}

{% block body %}

    <div class="container my-2">
        <h1>Mes notifications</h1>
        {% for n in notification %}
            <div class="card my-2">
                <div class="p-4 align-items-start justify-content-center flex-column">
                    <div>
                        <span style="width: 11px; height: 11px; background-color: var(--info); margin-bottom: -1px; border-radius: 50%; display: inline-block;" class="mr-1"></span>
                        {{ n.message | raw }}
                    </div>
                    <div>
                        <span class="text-muted"> {{ n.createdAt | ago }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

