{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}}
    Mes Notifications
{% endblock %}

{% block body %}

    <div class="container my-2">
        <h1>Mes notifications</h1>
        {% for n in notification %}
            <div class="card my-2">
                <div class="p-4">
                    <p class="m-0">
                        <span style="width: 12px; height: 12px; background-color: var(--success); border-radius: 50%; margin-top: -2px;" class="mx-1 d-inline-block align-middle"></span>
                        {{ n.message | raw }}
                    </p>
                    <span class="text-muted">
                        {{ n.createdAt | ago }}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

