.fadein{
  animation-name: fadeIn;
  animation-duration: 1s;
}
.fadeOut{
  animation: ease 0.8 fadeOut;
}

.slideIn{
  animation: ease-in 0.3s slideIn;
}
.slideOut{
  animation: ease-in-out 0.3s slideOut;
}
.fadeInDown{
  animation: ease 0.3s fadeInDown;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut{
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5%);
  }
}
@keyframes slideIn{
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateY(0);
  }
}
@keyframes slideOut{
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translateY(-5%);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}