@import "~bootstrap/scss/bootstrap";

body{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.popover{
    max-width: 100%;
}

@import "top-header";
@import "categorie";
@import "rating";
@import "carousel";
@import "last-offer";
@import "navbar";
@import "card";