@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
body.is-open {
  padding-top: 56px !important;
}
hr{
  margin: 0 !important;
}
a:hover {
  color: var(--info);
  cursor: pointer;
  text-decoration: none;
}

a {
  color: inherit;
}

::selection {
  background-color: var(--info);
}

.popover {
  max-width: 100%;
}

.shadow {
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.5), -10px -10px 35px rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 576px){
  .container{
    max-width: 100% !important;
  }
}
@media screen and (min-width: 968px){
  .container{
    max-width: 1400px !important;
  }
}

/**
IMPORT
 */
@import "scrollbar";
@import "animations";
@import "top-header";
@import "categorie";
@import "rating";
@import "carousel";
@import "last-offer";
@import "navbar";
@import "card";
@import "notification";
@import "footer";
@import "chat";
@import "profile";


