section.category{
  .grid{
    h5{
      font-size: 16px;
      text-transform: capitalize;
    }
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-gap: 20px 10px;
    justify-content: space-evenly;
  }
  .grid-image {
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: auto;

    img{
      border-radius: 75px;
      box-shadow: aqua;
    }

  }
}

@media only screen and (min-width: 768px) {
  section.category {
    .grid{
      h5{
        font-size: 1.25rem !important;
      }
      grid-template-columns: repeat(4,1fr);
      grid-gap: 20px 10px;
    }
    .grid-image {
      img {
        width: 128px;
        height: 128px;
      }
    }
  }
}