.notification {
  position: relative;
  border: none;
  background-color: transparent;
}

.notification:focus,
.notification:active {
  border: none;
  outline: none;
}

.badge-notification {
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 9px;
  font-weight: 900;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--danger);
}

.notification-drop {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  height: 100%;
  width: 250px;
  font-size: 13px;
  background-color: var(--light);
  @extend .shadow;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 9999;
  transition: .3s !important;
}

.notification-title {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

.notification-title span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.notification-body {
  @extend .scrollbar;
  height: calc(100% - 85px);
  max-height: calc(100% - 85px);
  overflow-y: auto;
}

.notification-body ul {
  padding: 0;
}

.notification-body ul > * {
  @extend .border-bottom;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.notification-body ul a:hover {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.02);
}

.notification-body ul a:last-child {
  margin-bottom: 0;
  border: none !important;
}

.notification-body ul a li > * {
  padding: 0 15px;
}

.notification-body ul a li p,
.notification-body ul a li {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 0;
}

.notification-body ul a li span {
  @extend .text-muted;
}

.notification-footer {
  @extend .border-top;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.notification-footer a {

  color: var(--dark);
  text-align: center;
}

.notification-footer a:hover {
  color: var(--info);
  cursor: pointer;
}

@media screen and (min-width: 1075px) {
  .notification-drop {
    position: absolute;
    top: 30px;
    left: calc(-115px + 7px);
    width: 230px;
    height: auto !important;

    &::before {
      content: '';
      position: absolute;
      top: -12px;
      right: calc(50% - 8px);
      display: block;
      width: 16px;
      height: 16px;
      background: url("../../image/caret.svg");
    }
  }
  .notification-title span {
    display: none;
  }
  .notification-body {
    max-height: 300px;
  }
}