.notification{
  position: relative;
  border: none;
  background-color: transparent;
}

.notification:focus,
.notification:active
{
  border: none;
  outline: none;
}

.badge-notification{
  content: "";
  position: absolute;
  top: -3px;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 9px;
  font-weight: 900;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--danger);
}

.notification-drop{
  position: absolute;
  top: 24px;
  left: calc(-105px + 7px);
  width: 210px;
  font-size: 13px;
  background-color: var(--light);
  @extend .shadow;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 9999;

  &::before{
    content: '';
    position: absolute;
    top: -12px;
    right: calc(50% - 8px);
    display: block;
    width: 16px;
    height: 16px;
    background: url("../../image/caret.svg");
  }

}

.notification-title{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;

  span{
    display: none;
  }
}
.notification-body{
  @extend .scrollbar;
  height: 220px;
  overflow-y: auto;
}
.notification-body ul{
  padding: 0;
}
.notification-body ul > *{
  @extend .border-bottom;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}
.notification-body ul a:hover{
  color: var(--info);
  background-color: rgba(0,0,0,0.05);
}
.notification-body ul a:last-child{
  margin-bottom: 0;
  border: none !important;
}
.notification-body ul a li > *{
  padding: 0 15px;
}
.notification-body ul a li p,
.notification-body ul a li{
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 0;
}

.notification-body ul a li span{
  @extend .text-muted
}

.notification-footer a{
  @extend .border-top;
  @extend .rounded-bottom;
  color: var(--dark);
  display: block;
  text-align: center;
  padding: 10px 0;
  background: var(--light);
}
.notification-footer a:hover{
  color: var(--info);
  cursor: pointer;
}

@media screen and (max-width: 850px){
  .notification-drop{
    &::before{
      display: none;
    }
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    height: 100%;
    width: 250px;
  }
  .notification-title span{
    display: block;
    position: absolute;
    right: 0.75rem;
  }
  .notification-title span:hover{
    cursor: pointer;
  }
  .notification-body{
    height: calc(100% - 85px);
    max-height: calc(100% - 85px);
  }
}