{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}}
    Messagerie privée
{% endblock %}

{% block body %}

    <div class="container my-2">
        <h1>Envoyer un message</h1>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-3 mt-2 pr-lg-0">
                <ul class="list-group">
                    <li class="list-group-item d-flex align-items-center">
                        <span class="status busy mr-2"></span>
                        Christine
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <span class="status online mr-2"></span>
                        Julia
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <span class="status busy mr-2"></span>
                        Christine
                    </li>
                    <li class="list-group-item active d-flex align-items-center">
                        <span class="status online mr-2"></span>
                        Julia
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <span class="status busy mr-2"></span>
                        Christine
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-9 mt-2 pl-lg-0">
                <div class="chat scrollbar">
                    <div class="chat-body px-3">
                        <div id="chat-messages">
                            <div class="answer left">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="El puto bot">
                                </div>
                                <div class="text px-3 py-2">
                                    Mon message  Mon message  Mon message  Mon message  Mon message
                                </div>
                                <div class="time">Il y a 5 minutes</div>
                            </div>
                            <div class="answer right">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Usuario">
                                </div>
                                <div class="text bg-info text-left px-3 py-2">
                                    Ca va?
                                </div>
                                <div class="time">Il y a 2 minutes</div>
                            </div>
                        </div>
                        <div class="answer right">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Usuario">
                            </div>
                            <div class="text bg-info text-left px-3 py-2">
                                Ca va? &#128540
                            </div>
                            <div class="time">Il y a 2 minutes</div>
                        </div>
                        <div class="answer left">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="El puto bot">
                            </div>
                            <div class="text px-3 py-2">
                                Mon message  Mon message  Mon message  Mon message  Mon message
                            </div>
                            <div class="time">Il y a 1 minutes</div>
                        </div>
                        <div class="answer right">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Usuario">
                            </div>
                            <div class="text bg-info text-left px-3 py-2">
                                Ca va? &#128540
                            </div>
                            <div class="time">Il y a 2 minutes</div>
                        </div>
                        <div class="answer left">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="El puto bot">
                            </div>
                            <div class="text px-3 py-2">
                                Mon message  Mon message  Mon message  Mon message  Mon message
                            </div>
                            <div class="time">Il y a 1 minutes</div>
                        </div>
                        <div class="answer right">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Usuario">
                            </div>
                            <div class="text bg-info text-left px-3 py-2">
                                Ca va? &#128540
                            </div>
                            <div class="time">Il y a 2 minutes</div>
                        </div>
                        <div class="answer left">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="El puto bot">
                            </div>
                            <div class="text px-3 py-2">
                                Mon message  Mon message  Mon message  Mon message  Mon message
                            </div>
                            <div class="time">Il y a 1 minutes</div>
                        </div>
                        <div class="answer right">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Usuario">
                            </div>
                            <div class="text bg-info text-left px-3 py-2">
                                Ca va? &#128540
                            </div>
                            <div class="time">Il y a 2 minutes</div>
                        </div>
                        <div class="answer left">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="El puto bot">
                            </div>
                            <div class="text px-3 py-2">
                                Mon message  Mon message  Mon message  Mon message  Mon message
                            </div>
                            <div class="time">Il y a 1 minutes</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex bg-light align-items-center p-2">
                    <input placeholder="Tapez votre message" class="px-2 w-100 text-dark" style="outline: none; border:none; background-color: transparent" />
                    <a class="" href="">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="#00000" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" defer>
        const chat = document.querySelector('.chat')
        chat.scrollTop = chat.scrollHeight
    </script>
{% endblock %}

